/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
/* Bulma */

// $family-sans-serif: "Open Sans", sans-serif;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

$primary: #5722cc;
$secondary: #78e6d0;
$accent: #fe5000;

// Update some of Bulma's component variables
$link: $primary;
$footer-padding: 1rem 1.5rem;

@import "bulma/bulma.sass";

/* Purplship */

.has-text-secondary {
  color: $secondary !important;
}

.has-text-accent {
  color: $accent !important;
}

.partner-logo {
  opacity: 0.5;
}

.partner-logo:hover {
  opacity: 1;
}

span#highlight {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
